body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #f7f39a;
    background-color: #346473;
}

main {
    margin-top: 2rem;
}

header {
    padding: .25rem;
}

.custom-navbar {
    background-color: #38817a !important;
    color: #f7f39a !important;
    border-radius: .5rem;
}

.custom-navbar .nav-link {
    color: #f7f39a !important;
}

.custom-navbar .nav-link:hover {
    color: #a3de83 !important;
}

.custom-navbar .btn {
    color: #f7f39a !important;
    border-color: #f7f39a !important;
}

.custom-navbar .btn:hover {
    color: #346473 !important;
    background-color: #f7f39a !important;
}

.brand-ffluxx {
    color: #a3de83; /* or any color you want */
}

.brand-studio {
    color: #ff3d67d6; /* or any other color you want */
    font-weight: bold;
}



.footer {
    flex-shrink: 0;
    width: 100%;
    /* line-height: 60px; */
    /* background-color: #f5f5f5; */
}
.navbar, .footer {
    background-color: #38817a;
    color: #f7f39a;
}

.navbar a, .footer a {
    color: #f7f39a;
}

.navbar a:hover, .footer a:hover {
    color: #a3de83;
}

.btn-outline-primary {
    color: #38817a;
    border-color: #38817a;
}

.btn-outline-primary:hover {
    color: #346473;
    background-color: #38817a;
    border-color: #38817a;
}

.btn-outline-secondary {
    color: #a3de83;
    border-color: #a3de83;
}

.btn-outline-secondary:hover {
    color: #346473;
    background-color: #a3de83;
    border-color: #a3de83;
}
.container {
    flex: 1 0 auto;
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.game, .news-item, .team-member {
    border: 1px solid #38817a;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: .75rem;
}

.game img, .team-member img {
    width: 100%;
    height: auto;
}

.news-item h3, .game h3, .team-member h3 {
    margin-top: 0;
}

.logo {
    height: 30px;
    border-radius: 15%;
    margin-right: 10px;
}
.first-color { 
	background: #f7f39a; 
}
	
.second-color { 
	background: #a3de83; 
}

.third-color { 
	background: #38817a; 
}

.fourth-color { 
	background: #346473; 
}